.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $md) {
    max-width: 672px;
  }

  @media (min-width: $lg) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1264px;
  }
}
