// Colors
$color-red: #ec3f3f;
$color-red-hover: #ff1e1e;
$color-white: #fff;
$color-transparent: rgba(#fff, 0);

// Fonts
$font-primary: "FuturaPT", sans-serif;

// Transition
$default-transition: 0.3s ease;

// Breakpoints
$xl: "1200px";
$lg: "992px";
$md: "768px";
$sm: "490px";
$xs: "378px";
